@import "_variables";
@import "_functions";

html {
  font-size: 16px;
  color: $primary-color;
  height: 100%;
}

p {
  line-height: 1.5em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.7em;
  font-style: normal;
  font-weight: inherit;
  margin: 0px;
}

h3,
h4,
h5 {
  font-family: $secondary-font;
}

::-moz-selection {
  background: $selected;
}

::selection {
  background: $selected;
}

a {
  color: inherit;

  //cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='30' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='100%'>👆</text></svg>") 16 0, auto;

  @include transition(color 200ms ease-in);
}

a:hover {
  color: $link-color;
}

aside {
  display: none;
  @include responsive($big-display) {
    display: block;
    float: right;
    color: $secondary-color;
  }

  #TableOfContents {
    ul,
    li {
      font-size: 0.9em;
      margin-top: 10px;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.post-text {
  hyphens: auto;

  padding: 30px;
  padding-top: 10px;
  margin-top: 10px;
}

blockquote {
  font-family: $quote-font;
  font-size: 150%;
  padding: 10px;
  width: fit-content;
}

.twitter-tweet {
  font-family: $quote-font !important;
  font-size: 150% !important;

  p {
    margin-top: 0px;
  }
}
.footnotes {
  color: $secondary-color;
}
table {
  border: 1px solid black;
  border-radius: $radius;
  border-spacing: 10px;
}
tr,
td {
  text-align: left;
}

code {
  font-family: $monospace-font;
  padding: 5px;
  border-radius: $radius;
}

pre {
  overflow-x: scroll;
  background-color: $backgound-secondary-color;
  line-height: 130%;
  padding: 10px;
  border-radius: $radius;
}

.highlight {
  pre {
    code {
      background-color: unset;
    }
  }
}

.main-line {
  border: 0px;
  border-top: 2px $secondary-color solid;
  max-width: $content-smaller-width;
  align-self: left;
  margin-left: 0px;
}

footer {
  max-width: $content-width;
  font-family: $primary-font;
  margin: auto auto 20px auto;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 90vw;
}

.section-title {
  text-decoration: none;
  color: $secondary-color;
}
.section-title:hover {
  text-decoration: none;
  color: $secondary-color;
}

img {
  width: 100%;
  border-radius: $radius;
}

.not-sized {
  width: unset;
  border-radius: 0px;
}

.term-type {
  color: $secondary-color;
  text-transform: capitalize;
}
.term-title {
  text-transform: uppercase;
  font-family: $secondary-font;
}
.term-back {
  color: $secondary-color;
  text-decoration: none;
}

.tags-footer {
  color: $article-text-sec-color;
  text-decoration: none;
  padding-top: 50px;
  a {
    text-decoration: none;
  }
}

/*
  Home page objects
*/

.content {
  display: block;
  max-width: $content-width;
  font-family: $primary-font;
  p {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.big-title {
  font-size: 4em;
  @include responsive($big-display) {
    font-size: 4.5em;
  }
  padding-bottom: 50px;
  max-width: $content-width;
}

li-main {
  max-width: $content-width;
  margin: auto;
  padding: 4%;
  @include responsive($big-display) {
    padding: 50px;
  }
  display: block;

  ul {
    padding-left: 0px;
  }
}

.li-link {
  text-decoration: none;
}
:hover {
  text-decoration: none;
}

.li-post {
  background-color: $backgound-color;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: $radius;
  padding: 20px;
  text-decoration: none;
  color: $article-text-color;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.li-title {
  font-weight: 400;
  font-family: $secondary-font;
  text-transform: uppercase;
  padding: 0;
  color: $article-text-color;
  padding-top: 5px;
}

.li-meta {
  display: flex;
  font-size: 0.7em;
  color: rgb(0, 0, 0);
  padding-top: 15px;
}

.li-meta-page {
  color: white;
}

.li-count {
  font-family: $secondary-font;
  font-size: 150%;
  padding-left: 30px;
  text-decoration: none;
  float: right;
}

.li-categories {
  display: flex;
  padding-right: 10px;
}

.li-langs {
  display: flex;
  padding-right: 10px;
}

.li-date {
  display: flex;
  padding-right: 10px;
}

.li-obj {
  margin-right: 5px;
}

.li-post:hover {
  background-color: rgba(255, 255, 255, 0.8);
  .li-title {
    text-decoration: underline;
  }
  .li-count {
    text-decoration: none;
  }
}

.meta {
  color: $secondary-color;
  margin-top: 0px;
  a {
    text-decoration: none;
  }
}

/*
Emoji and Icons
*/

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.15em;
  border-radius: 0px;
}

.icon {
  text-decoration: none;
  font-size: 120%;
  vertical-align: -5%;
  border-radius: 0px;
}


.background-title {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  justify-content:space-between;
  

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  position: absolute;
  p {
    font-family: $secondary-font;
    display: block;
    color: white;

    font-weight: 900;
    font-size: 9vh;
    opacity: 13%;
    line-height: 90%;
    text-transform: uppercase;
    
    margin: -5px 0px -100px 0px;

    @media only screen and (max-height: 600px) {
      font-size: 13vh;
    }

  }
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  background-color: $dark;
  font-family: $primary-font;

  width: 100vw;
  max-width: 100vw;
}

.mybody {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-height: 95vh;
}

main {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  text-align: justify;
  margin-bottom: 0px;
  margin: auto;
  background-color: white;
  max-width: $content-width;
  color: $dark;
  border-radius: $radius;
}

#main-header {
  margin: auto;
  max-width: $content-width;
  padding: 4%;
  margin-top: 50px;
  color: $primary-color !important;
  @include responsive($big-display) {
    padding: 50px;
    margin-top: 150px;
  }

  .name {
    font-size: 1.9em;
    font-family: $secondary-font;
    text-transform: uppercase;
    line-break: auto;
    hyphens: auto;
  }
}

.background {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-width: $content-width;
  overflow: hidden;

  user-select: none;

  display: flex;
}

.foreground-text {
  display: block;
  
  font-family: $primary-font;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  max-width: 300px;
  margin: auto;

  a {
    margin: 20px 0;
    position: relative;
    text-decoration: underline;
  }
}
.icons {
  text-align: center;
  margin-top: 15px;
  display: block;
  margin-bottom: auto;
}

.white {
  color: white;
  padding: 4px;
}

.logo {
  margin-top: auto;
  width: 50%;
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
  border-radius: 0;
}

.foreground {
  position: absolute;
  top:30vh;
  align-self: center;
  align-content: center;
  padding-bottom: 100px;
  width: 100vw;
  height: 3vh;
}

#svg {
  opacity: 30%;
  z-index: -1000;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

circle {
  fill: white;
  position: relative;
  z-index: 100;
}

//MENU

#menu {
  z-index: 555;
  display: flex;
  flex-direction: column;
}

#menu-bar {
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.bar {
  height: 4px;
  width: 30px;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  position: absolute;
  right: 10px;
  top: 50px;
  transition: all 0.3s ease;
  display: none;
  user-select: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  text-align: end;
  padding: 12px 0;
}

.nav li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
}

.menu-bg {
  position: absolute;
  z-index: 50;
  width: 0;
  height: 0;
  right: 0;
  background: radial-gradient(circle, $link-color, $link-color);
  opacity: 90%;
  border-radius: 50%;
  transition: 0.3s ease;
  overflow: hidden;
}

.change {
  display: inline !important;
}

.bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(3px) rotateZ(+45deg);
}

.change #bar2 {
  transform: translateX(100px);
  opacity: 0%;
}

.change #bar3 {
  transform: translateY(-5px) rotateZ(-45deg);
}

.change-bg {
  right: 0;
  width: 500px;
  height: 470px;
  margin-right: -200px;
  margin-top: -200px;
  //transform: translate(-60%, -30%);
}

/*
Header bar
*/

header {
  @include responsive($big-display) {
    position: fixed;
  }
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 555;

  .site-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    text-transform: uppercase;
    display: block;
    align-items: center;

    a {
      text-decoration: none;
    }
    .hover {
      color: initial;
    }
  }

  .logo {
    display: block;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 20px;
    width: unset;
    text-decoration: none;
    font-family: $secondary-font;
    font-weight: bold;

    img {
      max-height: 50px;
      width: auto;
      border-radius: 0px;
    }
  }
}

.menu-block {
  margin-top: 40px;
  margin-right: 30px;
}

.menu-closer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
