@import "_variables";
@import "_functions";

html {
  font-size: 16px;
  color: $primary-color;
  height: 100%;
}

p {
  line-height: 1.5em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.7em;
  font-style: normal;
  font-weight: inherit;
  margin: 0px;
}

h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}

::-moz-selection {
  background: $selected;
}

::selection {
  background: $selected;
}



a {
  color: inherit;

  //cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='30' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='100%'>👆</text></svg>") 16 0, auto;

  @include transition(color 200ms ease-in);
}

a:hover {
  color: $link-color;
}

aside {
  display: none;
  @include responsive($big-display) {
    display: block;
    float: right;
    color: $secondary-color;
  }

  #TableOfContents {
    ul,
    li {
      font-size: 0.9em;
      margin-top: 10px;
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}


.post-text {

  hyphens: auto;

  padding: 30px;
  
}

blockquote {
  font-family: $quote-font;
  font-size: 150%;
  padding: 10px;
  width: fit-content;
}

.twitter-tweet {
  font-family: $quote-font !important;
  font-size: 150% !important;

  p {
    margin-top: 0px;
  }
}
.footnotes {
  color: $secondary-color;
}
table {
  border: 1px solid black;
  border-radius: $radius;
  border-spacing: 10px;
}
tr,
td {
  text-align: left;
}

code {
  font-family: $monospace-font;
  padding: 5px;
  border-radius: $radius;
}

pre {
  overflow-x: scroll;
  background-color: $backgound-secondary-color;
  line-height: 130%;
  padding: 10px;
  border-radius: $radius;
}

.highlight {
  pre {
    code {
      background-color: unset;
    }
  }
}

.main-line {
  border: 0px;
  border-top: 2px $secondary-color solid;
  max-width: $content-smaller-width;
  align-self: left;
  margin-left: 0px;
}

footer {
  margin-top: 150px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  position: absolute;
}

.section-title {
  text-decoration: none;
  color: $secondary-color;
}
.section-title:hover {
  text-decoration: none;
  color: $secondary-color;
}

img {
  width: 100%;
  border-radius: $radius;
}

.not-sized {
  width: unset;
  border-radius: 0px;
}

.term-type {
  color: $secondary-color;
  text-transform: capitalize;
}
.term-title {
  text-transform: capitalize;
}
.term-back {
  color: $secondary-color;
  text-decoration: none;
}

.tags-footer {
  color: $article-text-sec-color;
  text-decoration: none;
  padding-top: 50px;
  a {
    text-decoration: none;
  }
}

/*
  Home page objects
*/

.content {
  display: block;
  max-width: $content-width;
  font-family: $secondary-font;
  p {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.big-title {
  font-size: 4em;
  @include responsive($big-display) {
    font-size: 4.5em;
  }
  padding-bottom: 50px;
  max-width: $content-width;
}

li-main{
  max-width: $content-width;
  margin: auto;
  padding: 4%;
  @include responsive($big-display) {
    padding: 50px;
  }
  display: block;

  ul{
    padding-left: 0px;
  }

}


.li-link{
  text-decoration: none;
}:hover{
  text-decoration: none;
}

.li-post {
  background-color: $backgound-color;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: $radius;
  padding: 20px;
  text-decoration: none;
  color: $article-text-color;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  
}

.li-title {
  font-weight: 400;
  font-family: $primary-font;
  padding: 0;
  color: $article-text-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

.li-meta {
  display: flex;
  font-size: 0.8em;
 
}

.li-count {
  
  font-family: $secondary-font;
  font-size: 150%;
  padding-left: 30px;
  text-decoration: none;
  float: right;
}

.li-categories{
  display: flex;
  padding: 10px;
}

.li-langs{
  display: flex;
  padding: 10px;
}

.li-date{
  display: flex;
  padding: 10px
  
}

.li-obj{
  margin-right: 5px;
}

.li-post:hover {
  background-color: white;
  .li-title {
    text-decoration: underline;
  }
  .li-count {
    text-decoration: none;
  }
}

.meta {
  color: $secondary-color;
  margin-top: 0px;
  a {
    text-decoration: none;
  }
}

/*
Header bar
*/

header {
  margin-top: 0px;

  padding: 4%;
  @include responsive($big-display) {
    padding: 50px;
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .site-name {
      margin-top: 0px;
      text-transform: uppercase;
      display: block;

      a {
        text-decoration: none;
      }
      .hover {
        color: initial;
      }
    }

    .nav-menu {
      display: flex;
      float: right;
    }

    .nav-item {
      float: right;
      padding: 15px;
      text-align: center;
      display: block;
      align-self: center;
      border-radius: $radius;
      font-family: $secondary-font;

      a {
        text-decoration: none;
      }
    }

    .logo {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 0;
      width: unset;
      text-decoration: none;
      font-family: $secondary-font;
      font-weight: bold;

      img {
        max-height: 50px;
        width: auto;
        border-radius: 0px;
      }
    }
  }
}

/*
Emoji and Icons
*/

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.15em;
  border-radius: 0px;
}

.icon {
  text-decoration: none;
  font-size: 125%;
  vertical-align: -5%;
  border-radius: 0px;
}

.background-text{
  color: white;
  font-weight: 800;
  font-size: 600%;
  opacity: 5%;
  line-height: 80%;
  text-transform: uppercase;
  margin-left: -3%;
  margin-right: -6%;

  

  @media only screen and (max-width: 700px) {
    font-size: 540%;
  }
  @media only screen and (max-width: 480px) {
    word-break: break-all;
  }
}


.background-title {
  align-self: center;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;

  left:0;
  right:0;
 
  
  @media only screen and (min-width: 700px) {
    max-width:700px;
  overflow:initial;
  width: min-content;
  }

  padding: -5%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  position: absolute;

}

body {
  font-family: $primary-font;
  padding: 0;
  height: 100%;
  min-height: -webkit-fill-available;
  margin: 0;
  padding-top: 0px;

  background: #343434; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to bottom,
    #005aa7,
    #fffde4
  );*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to bottom,
    #005aa7,
    #fffde4
  );*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

main {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  text-align: justify;
  margin-bottom: 0px;
  margin: auto;
  background-color: white;
  max-width: $content-width;
  color: black;
  min-height: 90vh;
  border-radius: $radius $radius 0 0;
  @include responsive($big-display) {
    border-radius: $radius $radius 0 0;
  }
}

#main-header {
  margin: auto;
  max-width: $content-width;
  padding: 4%;
  color: $primary-color !important;
  @include responsive($big-display) {
    padding: 50px;
  }
}

.background {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-width: $content-width;
  overflow: hidden;
  overflow-wrap: break-word;

  user-select: none;

  display: flex;

 
}



.foreground-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  max-width: 300px;

  a {
    margin: 20px 0;
    position: relative;
    color: #fff;
    text-decoration: underline;
  }
}
.icons {
  text-align: center;
  margin-top: 15px;
  display: block;
}

.white {
  color: white;
  padding: 4px;
}

.logo {
  width: 50%;
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
  border-radius: 0;
}

.foreground {
  padding: 50px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: auto;
}


svg{
  
  z-index: -1000;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

circle {
  fill: white;
  position: relative;
  z-index: 100;
}
