@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;1,300;1,600&family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
/*
$theme: dark;
$primary-color: white;
$link-color: #d9ff19;
$backgound-color: hsl(218, 44%, 38%);
$secondary-color: #ffffff;
$selected:  rgba(255, 250, 175, 0.5);
*/
html {
  font-size: 16px;
  color: white;
}

p {
  line-height: 1.5em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.7em;
  font-style: normal;
  font-weight: inherit;
  margin: 0px;
}

h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

::-moz-selection {
  background: rgba(255, 250, 175, 0.5);
}

::selection {
  background: rgba(255, 250, 175, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  transition: color 500ms ease-out;
}

a:hover {
  color: #01b5e2;
}

aside {
  display: none;
}
@media (min-width: 768px) {
  aside {
    display: block;
    float: right;
    color: white;
  }
}
aside #TableOfContents ul,
aside #TableOfContents li {
  font-size: 0.9em;
  margin-top: 10px;
  list-style-type: none;
}
aside #TableOfContents ul a,
aside #TableOfContents li a {
  text-decoration: none;
}

.post-text {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  max-width: 600px;
  margin: auto;
}

blockquote {
  font-family: "Amatic SC", cursive;
  font-size: 150%;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.twitter-tweet {
  font-family: "Amatic SC", cursive !important;
  font-size: 150% !important;
}
.twitter-tweet p {
  margin-top: 0px;
}

.footnotes {
  color: white;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  border-spacing: 10px;
}

tr,
td {
  text-align: left;
}

code {
  font-family: "Fira Mono", monospace;
  padding: 5px;
  border-radius: 10px;
}

pre {
  overflow-x: scroll;
  background-color: #ffffff;
  line-height: 130%;
  padding: 10px;
  border-radius: 10px;
}

.highlight pre code {
  background-color: unset;
}

.main-line {
  border: 0px;
  border-top: 2px white solid;
  max-width: 500px;
  align-self: left;
  margin-left: 0px;
}

footer {
  margin-top: 150px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  position: absolute;
}

.section-title {
  text-decoration: none;
  color: white;
}

.section-title:hover {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  border-radius: 10px;
}

.not-sized {
  width: unset;
  border-radius: 0px;
}

.term-type {
  color: white;
  text-transform: capitalize;
}

.term-title {
  text-transform: capitalize;
}

.term-back {
  color: white;
  text-decoration: none;
}

.tags-footer {
  color: black;
  text-decoration: none;
  padding-top: 50px;
}
.tags-footer a {
  text-decoration: none;
}

/*
  Home page objects
*/
.content {
  display: block;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
}
.content p {
  text-align: justify;
  margin-bottom: 0px;
  margin-top: 10px;
}

.big-title {
  font-size: 4em;
  padding-bottom: 50px;
  max-width: 600px;
}
@media (min-width: 768px) {
  .big-title {
    font-size: 4.5em;
  }
}

li-main {
  max-width: 600px;
  margin: auto;
  padding: 4%;
  display: block;
}
@media (min-width: 768px) {
  li-main {
    padding: 50px;
  }
}
li-main ul {
  padding-left: 0px;
}

.li-link {
  text-decoration: none;
}

:hover {
  text-decoration: none;
}

.li-post {
  background-color: rgba(255, 255, 255, 0.5647058824);
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.li-title {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.li-meta {
  display: flex;
  font-size: 0.8em;
}

.li-count {
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  padding-left: 30px;
  text-decoration: none;
  float: right;
}

.li-categories {
  display: flex;
  padding-top: 10px;
}

.li-date {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
}

.li-obj {
  margin-right: 5px;
}

.li-post:hover {
  background-color: white;
}
.li-post:hover .li-title {
  text-decoration: underline;
}
.li-post:hover .li-count {
  text-decoration: none;
}

.meta {
  color: white;
  margin-top: 0px;
}
.meta a {
  text-decoration: none;
}

/*
Header bar
*/
header {
  margin-top: 0px;
  padding: 4%;
}
@media (min-width: 768px) {
  header {
    padding: 50px;
  }
}
header .navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .navbar .site-name {
  margin-top: 0px;
  text-transform: uppercase;
  display: block;
}
header .navbar .site-name a {
  text-decoration: none;
}
header .navbar .site-name .hover {
  color: initial;
}
header .navbar .nav-menu {
  display: flex;
  float: right;
}
header .navbar .nav-item {
  float: right;
  padding: 15px;
  text-align: center;
  display: block;
  align-self: center;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
header .navbar .nav-item a {
  text-decoration: none;
}
header .navbar .logo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  width: unset;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
header .navbar .logo img {
  max-height: 50px;
  width: auto;
  border-radius: 0px;
}

/*
Emoji and Icons
*/
.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.15em;
  border-radius: 0px;
}

.icon {
  text-decoration: none;
  font-size: 125%;
  vertical-align: -5%;
  border-radius: 0px;
}

.background-text {
  color: white;
  font-weight: 800;
  font-size: 600%;
  opacity: 20%;
  line-height: 80%;
  text-transform: uppercase;
  margin-left: -3%;
  margin-right: -6%;
}
@media only screen and (max-width: 700px) {
  .background-text {
    font-size: 540%;
  }
}
@media only screen and (max-width: 480px) {
  .background-text {
    word-break: break-all;
  }
}

.background-title {
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: -5%;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  position: absolute;
}
@media only screen and (min-width: 700px) {
  .background-title {
    max-width: 700px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

body {
  margin: 0;
  padding-top: 0px;
  background: #005aa7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #005aa7, #fffde4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

main {
  text-align: justify;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.5647058824);
  padding: 4%;
  color: black;
  min-height: 90vh;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 768px) {
  main {
    padding: 50px;
    border-radius: 5vw 5vw 0 0;
  }
}

#main-header {
  margin: auto;
  max-width: 600px;
  padding: 4%;
  color: white !important;
}
@media (min-width: 768px) {
  #main-header {
    padding: 50px;
  }
}

.background {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-width: 600px;
  overflow-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
}

.foreground-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  max-width: 300px;
}
.foreground-text a {
  margin: 20px 0;
  position: relative;
  color: #fff;
  text-decoration: underline;
}

.icons {
  text-align: center;
  margin-top: 15px;
  display: block;
}

.white {
  color: white;
  padding: 4px;
}

.logo {
  width: 50%;
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
  border-radius: 0;
}

.foreground {
  padding: 50px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: auto;
}/*# sourceMappingURL=main.css.map */