---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Base from "../../layouts/Base.astro";

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data?.pubDate.valueOf() - a.data?.pubDate.valueOf()
).filter((a) => a.data.draft !== true && a.data.hidden !== true);

const props = { image: "/website.png" };
---

<Base image={props.image}>
  <main>
    <h1 class="mb-5 text-4xl" id="notes">Recent notes</h1>
    <section class="flex flex-col gap-4">
      {
        notes.map((single) => (
          <PostCard
            title={single.data.description}
            pubDate={single.data.pubDate}
            description={single.data.description}
            slug={"/notes/" + single.slug}
          />
        ))
      }
    </section>
  </main>
</Base>
