<a href="{{.Permalink}}" class="li-link">
<div class="li-post">

    <div class="li-title">
        {{with .Params.Description}} {{.}}<br />
        {{else}} {{.Title}}<br />
        {{end}}
    </div>

    <div class="li-meta">
      <div class="li-date">
        <div class="li-obj">
          <i class="fa-regular fa-calendar-check icon"></i> 
        </div>
        
        <div class="li-obj">
          {{$myFormat := "January 2, 2006"}}
          {{with .Site.Params.DateFormat}} {{$myFormat = .}} {{end}}
          {{ time.Format $myFormat .Date}}{{with .Params.Categories}}
        </div>
      </div>

      <div class="li-categories">
        <div class="li-obj">
          <i class="fa-regular fa-folder icon"></i> 
        </div>
        <div class="li-obj">
          {{$n := len .}}
          {{range $ind, $val := .}} {{ $val }}
            {{- if lt $ind (sub $n 1) -}},{{- else -}}{{end}} {{ end }} {{else}}
          {{ end }}
        </div>
      </div>
    
    </div>
    

</div>
</a>