@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,800;1,300;1,600&family=Playfair+Display:ital@0;1&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Oswald:wght@600&family=Roboto+Mono:ital,wght@0,500;0,700;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-primary: "Merriweather Sans", sans-serif;
$font-secondary: "Roboto Mono", sans-serif;
$font-quote: "Amatic SC", cursive;
$font-monospace: "Roboto Mono", monospace;

//colors light
$bg-100: rgb(40, 29, 82);
$bg-200: rgb(68, 73, 241);

$primary-color: white;
$article-text-color: $bg-100;
$article-text-sec-color: black;

$link: rgb(68, 120, 189);



$hover-background: linear-gradient(45deg, $link 20%, $bg-200 100%);
$hover-background-fallback: rgb(5, 81, 81);
$backgound-secondary-color: #ffffff;

$secondary-color: white;
$selected:  rgba(102, 0, 255, 0.468);

//dimensions
$max-site-width: 1500px;
$content-width: 600px;
$content-smaller-width: 500px;

$big-margin: 10%;

$padding-sm: 5px;
$padding-md: 15px;
$padding-lg: 25px;

$radius: 10px;
$box-shadow:  0 0 12px rgba(0, 0, 0, 0.2);

//breakpoints
$big-display: 768px; //64em



