@import "_variables";
@import "_functions";

html {
  font-size: 16px;
  color: $base;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  background-color: $secondary;
  font-family: $font-primary;
  font-weight: 600;

  width: 100vw;
  max-width: 100vw;
}

p {
  line-height: 1.5em;
}

strong {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.7em;
  font-style: normal;
  font-weight: inherit;
  margin: 0px;
}

h3,
h4,
h5 {
  font-family: $font-secondary;
  font-weight: 700;
}

::-moz-selection {
  background: $accent-content;
}

::selection {
  background: $accent-content;
}

a {
  color: inherit;
  @include transition(color 200ms ease-in);
}

a:hover {
  color: $accent;
}

aside {
  display: none;

  @include responsive($big-display) {
    display: block;
    float: right;
    color: $secondary-content;
  }
}

blockquote {
  font-family: $font-quote;
  font-size: 150%;
  padding: 10px;
  width: fit-content;
}

.twitter-tweet {
  font-family: $font-quote !important;
  font-size: 150% !important;

  p {
    margin-top: 0px;
  }
}
.footnotes {
  color: $secondary-content;
}
table {
  border: 1px solid $secondary;
  border-radius: $radius;
  border-spacing: 10px;
}
tr,
td {
  text-align: left;
}

code {
  font-weight: 300;
  font-family: $font-monospace;
  padding: 5px;
  border-radius: $radius;
}

pre {
  overflow-x: scroll;
  background-color: $base;
  line-height: 130%;
  padding: 10px;
  border-radius: $radius;
}

.highlight {
  pre {
    code {
      background-color: unset;
    }
  }
}

.main-line {
  border: 0px;
  border-top: 2px $secondary-content solid;
  max-width: $content-smaller-width;
  align-self: left;
  margin-left: 0px;
}

footer {
  max-width: $content-width;
  font-family: $font-primary;
  margin: auto auto 20px auto;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 90vw;
}

img {
  width: 100%;
  border-radius: $radius;
}

.not-sized {
  width: unset;
  border-radius: 0px;
}

/*
  Home page objects
*/

.content {
  display: block;
  max-width: $content-width;
  font-family: $font-primary;
  p {
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.big-title {
  font-size: 4em;
  @include responsive($big-display) {
    font-size: 4.5em;
  }
  padding-bottom: 50px;
  max-width: $content-width;
}

.feed {
  max-width: $content-width;
  margin: auto;
  padding: 4%;
  @include responsive($big-display) {
    padding: 50px;
  }
  display: block;

  ul {
    padding-left: 0px;
  }
}

.feed__link {
  text-decoration: none;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &:hover {
    text-decoration: none;
  }
}

.feed__post {
  background: $primary;
  color: $base;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: $radius;
  padding: 20px;
  text-decoration: none;
  box-shadow: $box-shadow //@include transition(all 200ms ease-in);
    a {
    text-decoration: none;
  }

  position: relative;

  &:hover {
    background: $accent;
    color: $primary;
  }
}
.feed__post-count {
  text-decoration: none;
  font-family: $font-secondary;
  font-size: 150%;
  padding-left: 30px;
  text-decoration: none;
  float: right;
}

.feed__post-title {
  font-weight: 500;
  font-size: 110%;
  font-family: $font-secondary;
  text-transform: uppercase;
  padding: 0;
  padding-top: 5px;
  @include transition(all 100ms ease-in);
}

.feed__post-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  margin-top: 15px;
  @include transition(all 100ms ease-in);
}

.feed__post-meta-item {
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin: 5px 0px 5px;
}

/*
Emoji and hero__icons
*/

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.15em;
  border-radius: 0px;
}

.icon {
  text-decoration: none;
  font-size: 120%;
  vertical-align: -5%;
  border-radius: 0px;
  padding: 4px;
}

.single__body {
  box-shadow: $box-shadow;

  text-align: justify;
  margin-bottom: 0px;
  margin: auto;
  background-color: $neutral;
  width: 100%;
  color: $secondary;
  //border-radius: $radius;

  &_page{
    background-color: unset;
  }
}

.single__header,
.taxonomy__header,
.term__header,
.section__header {
  margin: auto;
  max-width: $content-width;
  padding: 4%;
  margin-top: 80px;
  color: $base;
  @include responsive($big-display) {
    padding: 50px;
    margin-top: 150px;
  }

  &_absent{
    margin-top: 50px;
  }
}

.single__title {
  font-size: 2.5em;
  font-family: $font-secondary;
  text-transform: uppercase;
  line-height: 95%;
  overflow-wrap: break-word;
  font-weight: 700;
}

.single__body-content,
.single__toc,
.single__tags-footer {
  padding: 4%;
  hyphens: auto;
  padding-top: 10px;
  margin-top: 10px;
  max-width: $content-width;
  margin: auto;

  @include responsive($big-display) {
    padding: 50px;
  }

  &_page{
    color: $base;
  }
}

.single__body-content{
  min-height: 40vh;
}
.single__toc-button {
  font-family: $font-secondary;
  background-color: $base;
  color: $secondary;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: $radius;
  margin-bottom: $padding-sm;

  &:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }

  &.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
}

.single__toc-content {
  border-radius: $radius;
  overflow: hidden;
  background-color: $base;
  color: $base-content;
  font-size: 90%;
  transition: max-height 0.2s ease-out;
  max-height: 0px;
  ul,
  li {
    margin-top: 10px;
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}

.single__tags-footer {
  color: $base;
  text-decoration: none;
}

.term__term-type {
  color: $primary;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.term__title,
.section__title {
  margin-top: 0px;
  text-decoration: none;
  font-family: $font-accent;
  letter-spacing: 1px;
}
.term__back-link {
  color: $secondary-content;
  text-decoration: none;
}

.primary {
  color: $primary;
}

.tertiary {
  background-color: $tertiary;
}

.hero {
  height: 80vh;
  min-width: 100vw;
  max-width: 100vw;
  max-width: $content-width;
  overflow: hidden;

  user-select: none;

  display: flex;
}

.hero__text {
  //flex-direction: column;
  //writing-mode: vertical-rl;
  //justify-content: space-between;

  user-select: none;
  position: absolute;

  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: -10;

  p {
    font-family: $font-secondary;

    width: min-content;
    position: absolute;

    top: 15vh;
    right: 50px;

    color: $primary;

    font-weight: 900;
    font-size: 3em;
    line-height: 85%;
    text-transform: uppercase;

    margin: -5px 0px -100px 0px;

    @include responsive($big-display) {
      right: 40%;
    }
  }
}

.hero__foreground-text {
  font-family: $font-primary;
  color: $secondary-content;
  text-align: left;
  font-size: 1em;

  a {
    margin: 20px 0;
    position: relative;
    text-decoration: underline;
  }
  h1 {
    font-size: 3.2em;
  }
}

.hero__icons {
  margin-top: 50px;
  display: block;
  margin-bottom: auto;
}

.hero__logo {
  svg {
    path {
      fill: $primary !important;
    }
  }

  position: absolute;
  right: 30%;
  top: 30vh;

  overflow: hidden;

  width: 200px;

  display: block;
  border-radius: 0;
}

.hero__foreground {
  z-index: 20;
  max-width: $content-width;
  margin: auto;
  padding: 4%;
  @include responsive($big-display) {
    padding: 50px;
  }
  display: block;
}

#svg {
  opacity: 100%;
  z-index: -1000;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

circle {
  fill: $base;
  position: relative;
  z-index: 100;
}

//MENU

.header__hamburger {
  cursor: pointer;
  display: blocxwk;
  margin-right: $padding-lg;

  span {
    height: 4px;
    width: 30px;
    background-color: $base;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;

    &:nth-child(1) {
      margin-bottom: 5px;
    }
  }
}
.change {
  span {
    &:nth-child(1) {
      transform: translateY(5px) translateX(-10px) rotateZ(+45deg) scaleX(80%);
    }
    &:nth-child(2) {
      transform: rotateZ(-45deg) translateX(+8px) scaleX(70%);
    }
  }
}

.header__nav {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 55px;
  user-select: none;
  background-color: $primary;
  border-radius: $radius;
  box-shadow: $box-shadow;

  @include responsive($big-display) {
    position: fixed;
  }

  &_hidden {
    display: none;
  }
}

.header__nav-elem {
  text-align: end;
  padding: 12px 22px;
  border-radius: $radius;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: $accent;
    color: $primary;
  }
}

/*
Header bar
*/

.header {
  @include responsive($big-display) {
    position: fixed;
  }
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  margin-top: $padding-md;

  &__site-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    text-transform: uppercase;
    display: block;
    align-items: center;

    a {
      text-decoration: none;
    }
    .hover {
      color: initial;
    }
  }

  .header__logo {
    height: 50px;
    width: 100px;
    position: relative;
  }
  .header__logo-link {
    display: block;
    margin-bottom: auto;
    width: unset;
    text-decoration: none;
    font-family: $font-secondary;
    font-weight: bold;

    svg {
      position: absolute;
      height: 100%;

      path {
        fill: $base !important;
      }
    }
  }
}

.menu-closer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  margin-right: $padding-lg;
}

.contact-form {
  max-width: $content-width;
  margin: auto;
  padding: 4%;
  @include responsive($big-display) {
    padding: 50px;
  }
  display: block;
}

//contact form
.contact-form__input {
  background-color: $base;
  color: $primary;
  border: 0px;
  border-radius: $radius;
  width: 100%;
  min-height: 100px;
  position: relative;
  margin-bottom: $padding-sm;

  display: inline-block;
  font-family: $font-secondary;
  padding: $padding-md;
  font-size: x-large;

  &::placeholder {
    font-family: $font-secondary;
    font-size: large;
    text-transform: uppercase;
    color: $primary;

    margin-top: 0px;
  }

  &:focus {
    background-color: $accent;
  }
}

.contact-form__row {
  display: flex;
  flex-direction: row;
  column-gap: $padding-sm;
  min-height: 100px;
}

.contact-form__send-button {
  width: 100%;
  max-width: 100px;
  height: 200px;
  background-color: $tertiary;

  &:hover {
    background-color: $accent;
  }
}

.animated {
  transition: transform 0.3s ease-in, opacity 0.1s ease-in;

  &.animated_hidden-bottom {
    transform: translateY(100px);
    opacity: 0;
  }

  &.animated_hidden-top {
    transform: translateY(-100px);
    opacity: 0;
  }

  &.animated_visible {
    transform: translateY(0);
    opacity: 1;
  }
}
