/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


i,
em {
	font-family: 'DM Sans', sans-serif;
}

html {
	font-family: 'DM Sans', sans-serif;
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
	  scroll-behavior: auto;
	}
}

pre,
code,
kbd {
	font-family: 'Space Mono', monospace;
}

main {
	@apply max-w-4xl p-2 md:p-4 mx-auto
}

.opacityOnHover {
	@apply opacity-50 hover:opacity-100 transition-opacity
}

img {
	@apply rounded-xl
}
::selection {
	@apply bg-yellow
  }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Grotesk', sans-serif;
	line-height: 100%;
	font-feature-settings: 'liga' 1, 'calt' 1, 'case' 1, 'ss03' 1;
	font-variant-ligatures: common-ligatures;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -.1em;
	display: inline
}