@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,400;0,6..72,700;1,6..72,200;1,6..72,400;1,6..72,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    width: 70%;
    border-radius: 5px;
    margin: 5px auto;
}

img.not-sized {
  width: unset;
  border-radius: 0px;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    display: inline;
 }

code {
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
  }
  
pre {
    overflow-x: scroll;
    line-height: 130%;
    padding: 10px;
    border-radius: 5px;
  }