---

import Base from "../layouts/Base.astro";
const props = {image: '/website.png'}


---

<Base image = {props.image}>
  <main>
   
    <p class="mb-4 md:mt-24">I'd love to hear from you! Whether it's about a project, an idea, or just to say hi, feel free to reach out.</p>

    <p class="mb-2"><strong>Academic contacts:</strong> <span class="font-mono">name.surname@unimore.it</span></p>
    <p class="mb-2"><strong>Other projects:</strong> <span class="font-mono">name@thisdomain.com</span></p>
    <p class="mb-2"><strong>Personal stuff:</strong> <span class="font-mono">name.surname@the-gmail-mail</span></p>

    <p class="mb-2"><strong>Certified Mail (PEC):</strong> <span class="font-mono">name.surname@ingpec.eu</span></p>


    <p class="mb-2"><strong>Social Media:</strong> everywhere as <span class="font-mono">@jacksalici</span>.</p>
    
    <p class="mt-6">Looking forward to connecting with you!</p>
    <p class="mt-6"></p>
  </main>
 
</Base>