---

import Base from "../layouts/Base.astro";
const props = {image: '/website.png'}


---

<Base image = {props.image}>
  <main>
   <h1 class="text-3xl">Let's talk!</h1>
    <p class="my-4 ">I'd love to hear from you! Whether it's about a project, an idea, or just to say hi, feel free to reach out.</p>

    <p class="mb-2"><strong>Academic contacts:</strong> <span class="my-pre inline-block">name.surname@unimore.it</span></p>
    <p class="mb-2"><strong>Other projects:</strong> <span class="my-pre inline-block">name@thisdomain.com</span></p>
    <p class="mb-2"><strong>Personal stuff:</strong> <span class="my-pre inline-block">name.surname@the-gmail-mail</span></p>

    <p class="mb-2"><strong>Certified Mail (PEC):</strong> <span class="my-pre inline-block">name.surname@ingpec.eu</span></p>

    <p class="mb-2"><strong>Social & Chats:</strong> everywhere as <span class="my-pre inline-block">@jacksalici</span></p>
    
    <p class="mt-6">Looking forward to connecting with you!</p>
  </main>
 
</Base>
