---

import Base from "../layouts/Base.astro";
const props = {image: '/website.png'}


---

<Base image = {props.image}>
  <main>
   
    <p class="mb-4 md:mt-24">I'd love to hear from you! Whether it's about a project, an idea, or just to say hi, feel free to reach out.</p>

    <p class="mb-2"><strong>Academic contacts:</strong> <span class="my-pre"><span class="underline decoration-wavy decoration-accent-2">name</span>.<span class="underline decoration-wavy decoration-accent-3">surname</span>@unimore.it</span></p>
    <p class="mb-2"><strong>Other projects:</strong> <span class="my-pre"><span class="underline decoration-wavy decoration-accent-2">name</span>@<span class="underline decoration-wavy decoration-accent-1">thisdomain.com</span></span></p>
    <p class="mb-2"><strong>Personal stuff:</strong> <span class="my-pre"><span class="underline decoration-wavy decoration-accent-2">name</span>.<span class="underline decoration-wavy decoration-accent-3">surname</span>@the-gmail-mail</span></p>

    <p class="mb-2"><strong>Certified Mail (PEC):</strong> <span class="my-pre"><span class="underline decoration-wavy decoration-accent-2">name</span>.<span class="underline decoration-wavy decoration-accent-3">surname</span>@ingpec.eu</span></p>


    <p class="mb-2"><strong>Social & Chats:</strong> everywhere as <span class="my-pre">@jacksalici</span></p>
    
    <p class="mt-6">Looking forward to connecting with you! My full name is <span class="underline decoration-wavy decoration-accent-2">Giacomo</span> <span class="underline decoration-wavy decoration-accent-3">Salici</span>, and you are currently surfing the website <span class="font-mono underline decoration-wavy decoration-accent-1">jacksalici.com</span>! 
</p>
  </main>
 
</Base>