---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import GlassChip from "../components/GlassChip.astro";
import Base from "../layouts/Base.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { FileText, Hammer, PenLine, Github, GraduationCap, Linkedin } from "@lucide/astro";
import "../styles/global.css";


const recentAll = [
  ...(await getCollection("notes"))
    .filter((a) => a.data.draft !== true && a.data.hidden !== true)
    .map((a) => ({ date: a.data.pubDate, text: a.data.news ?? a.data.description ?? a.data.title ?? "", slug: "/notes/" + a.slug, type: "note" as const })),
  ...(await getCollection("projects"))
    .filter((a) => a.data.draft !== true && a.data.hidden !== true)
    .map((a) => ({ date: a.data.pubDate, text: a.data.news ?? a.data.description ?? a.data.title ?? "", slug: "/projects/" + a.slug, type: "project" as const })),
  ...(await getCollection("papers"))
    .filter((a) => a.data.draft !== true && a.data.hidden !== true)
    .map((a) => ({ date: a.data.pubDate, text: a.data.news ?? a.data.description ?? a.data.title ?? "", slug: "/papers/" + a.slug, type: "paper" as const })),
].sort((a, b) => b.date.valueOf() - a.date.valueOf());

const props = { image: "/sky.png" };
---

<Base image={props.image} >
    <div class="max-w-4xl mx-auto md:mt-18 p-6">
    
      <div class="grid md:grid-cols-2 gap-8">
        <div>
          <h1 class="text-4xl text-balance">
            A digital craftsman</br> who designs systems</br> that matter.
          </h1>
          <div class="mt-6 mb-8 flex flex-wrap gap-3">
            <a href="https://github.com/jacksalici" class="hover:text-accent-1 transition-colors">
              <Github size={20} />
            </a>
            <a href="https://scholar.google.com/citations?user=jMVa-rYAAAAJ" class="hover:text-accent-1 transition-colors">
              <GraduationCap size={20} />
            </a>
            <a href="https://linkedin.com/in/giacomosalici" class="hover:text-accent-1 transition-colors">
              <Linkedin size={20} />
            </a>
            
          </div>
        </div>  


        <p>
          <span
            class="">I'm</span> <span class="font-bold">Giacomo Salici</span>
          <sup class="font-extralight text-xs">/'d͡ʒa‧ko‧mo sa‧li‧t͡ʃi/</sup>, <span
            class="">an AI
              & computer engineer</span>, developer, and occasionally designer based in Italy. I work with the <a
              href="https://aimagelab.unimore.it/"
              >AImageLab</a
              > research group of University of Modena <span class="">and</span> Reggio Emilia as <span class="font-bold"> a PhD candidate in ICT</span>.
              <br /><br />
              My <span >research topics</span> include artificial intelligence of things (AIoT), modular deep learning and anomaly detection. I like open source software and hardware.
              <br /><br />
              If you want to get in touch, feel free to <a href="/contacts">reach out&nbsp;↗</a>.
        </p> 

      </div>
    
    <div class="mt-40">
      <h1 class="mb-10 text-3xl">Thoughts, articles, and projects</h1>

      <div class="flex flex-col gap-6">
        {
          recentAll.map((item) => (
            <a href={item.slug} class="group flex gap-2 items-baseline">
              <span class="group-hover:text-accent-1 transition-colors">
                {item.type === "paper"   && <FileText size={16} />}
                {item.type === "project" && <Hammer   size={16} />}
                {item.type === "note"    && <PenLine  size={16} />}
              </span>
              <p class="group-hover:text-accent-1 transition-colors">
                <span>{item.text}</span>
                {item.date && (
                  <span class="text-xs ml-1.5 opacity-50">
                    <FormattedDate date={item.date} />
                  </span>
                )}
              </p>
            </a>
          ))
        }
      </div>
    </section>

</Base>
