---
import { getCollection } from "astro:content";
import LinkBox from "../components/LinkBox.astro";
import Base from "../layouts/Base.astro";

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data?.pubDate.valueOf() - a.data?.pubDate.valueOf()
);

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .sort(
    (a, b) =>
      Number(b.data.featured.valueOf()) - Number(a.data.featured.valueOf())
  )
  .filter((a) => a.data.draft !== false && a.data.hidden != true);

const works = (await getCollection("projects"))
  .sort((a, b) => -a.data?.pubDate.valueOf() + b.data?.pubDate.valueOf())
  .filter((a) => a.data.draft !== false && a.data.type === "work");

const props = { image: "/website.png" };
---

<Base image={props.image}>
  <main class="grid gap-6 grid-cols-3 *:p-2">
    <h1 class="text-5xl font-bold text-primary-content col-span-3">
      I am a digital craftsman and a creative engineer. I use deep learning to predict the future.
    </h1>
  

  
    <div class="col-span-3">
      <p class="lg:text-xl font text-balance" >
        My name is <strong>Giacomo Salici</strong> and I work with the UniMoRe's AImageLab research
        group as a <strong>PhD student in ICT</strong>.
        I am a <strong>computer engineer</strong>, <strong>developer</strong>, and
        occasionally designer based in Italy. 

        <span class=" block mt-2">
        My research topics include deep learning applied to time series forecasting and anomaly detection, robotics and Internet of Things.
        </span>
        
      </p>
      
    </div>


  
   
  
      <LinkBox
        text="Check out my projects"
        hiddenText="Check out my fav projects"
        link="/projects"
        dark
        ariaLabel="projects"
      />

      <LinkBox
      text="Reach me anytime"
      hiddenText="Mail me or DM @ jacksalici"
      link="mailto:inbox@jacksalici.com"
      ariaLabel="email" external
    />

      <LinkBox
        text="Check my résumé"
        hiddenText="Let's connect"
        link="https://linkedin.com/in/jacksalici"
        ariaLabel="linkedin"
        external
      />

  </main>
  
  <style>
    /* Icon styles */
    [class*="fa"] {
      @apply text-3xl hover:fill-secondary-content transition-all w-[1em] h-[1em];
    }
  
    .fa-boxed {
      @apply text-2xl transition-all w-[1em] h-[1em] inline;
    }
    
    .group:hover .fa-boxed {
      @apply fill-secondary-content;
    }
  
  
    
    /* Other styles maintained from the original */

    h2 {
      @apply text-3xl font-extrabold;
    }
  
    section {
      @apply grid gap-3 md:grid-cols-2;
    }
  </style>
</Base>
