---

import Base from "../layouts/Base.astro";


---

<Base>
  <main>




    This page is current under development. In the meantime, here is a random fact for you:
    <span id="fact" class="block my-4 text-xl p-5 font-display">
    </span>

    
  </main>
 
</Base>


<script>
const f = document.getElementById("fact")


let fact = "" 

// DON'T USE EXPOSED API KEY! This is for testing purposes only.
// Do not use the following key for your project.
// Also becouse a limit on the API calls rate will keep your app down, so spend some money to get a key on your own and shut the freak up. 

try{
  const res = await fetch(
    "https://api.api-ninjas.com/v1/facts",
    {
      method: "GET",
      headers: {
        "X-Api-Key": "8Idmhms+nG6e6Agy9f1jQA==gfaW91jpy9ty2nGz",
      },
    }
  )
const data = await res.json()
fact = data[0].fact + "."
  }
  catch(e){
    fact = "Ops, an error occurred."
  }

f.innerText = fact

</script>