---
import Single from "../layouts/Single.astro";

---

<Single title="Timestamp Viewer Privacy Policy">
<p>    
    <h2>Introduction</h2>
    <p>Welcome to Timestamp Viewer. At Timestamp Viewer, we prioritize your privacy. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of information when you use our application. Importantly, Timestamp Viewer does not collect, store, or share any personal data from its users.</p>
    
    <h2>Information Collection and Use</h2>
    <h3>No Data Collection</h3>
    <p>Timestamp Viewer is designed to provide its functionalities without collecting any personal data from users. We do not collect, store, or process any of the following information:</p>
    <ul>
        <li>Personal Identification Information (e.g., name, email address)</li>
        <li>Usage Data (e.g., application usage statistics, user behavior)</li>
        <li>Device Information (e.g., IP address, device type, operating system)</li>
    </ul>
    
    <h3>No Use of Data</h3>
    <p>Since we do not collect any data, there is no use of data for any purpose, including but not limited to:</p>
    <ul>
        <li>Analytics</li>
        <li>Advertising</li>
        <li>User experience improvements</li>
        <li>Personalization</li>
    </ul>
    
    <h2>Third-Party Services</h2>
    <h3>No Third-Party Integration</h3>
    <p>Timestamp Viewer does not integrate with any third-party services that may collect data from users. There are no third-party analytics, advertising networks, or social media plugins within our app.</p>
    
    <h2>Security</h2>
    <h3>No Data Storage</h3>
    <p>As we do not collect or store any user data, there are no data security concerns related to the storage or transmission of personal information. The app operates entirely locally on your device.</p>
    
    <h2>Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. Any changes will be communicated through an update to this Privacy Policy. We encourage you to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy, please <a href="/#contacts">contacts</a> us.</p>
    
    
    <p>Thank you for using Timestamp Viewer.</p>

    
    <p>This Privacy Policy was last updated on June 2024.</p>
</p>
    

</Single> 