---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
---

<header class="sticky top-0 z-50 backdrop-blur-sm bg-opacity-25 bg-background bg-blur-lg">
  <nav class="py-4 px-2 lg:px-4 flex items-center justify-between text-primary-content">
    <a href="/" aria-label="Logo of Jack">
      <svg
        id="logo"
        class="max-h-10 w-12 transition-fill fill-primary-content group"
        viewBox="0 0 942 1000"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
      >
        <g transform="matrix(1,0,0,1,-383.556,-420.583)">
          <path
            class="group-hover:fill-blue transition-all"
            d="M544.989,1122.5C579.959,1152.47 625.389,1170.58 675.017,1170.58C785.4,1170.58 875.017,1080.97 875.017,970.583L1125.02,970.583C1125.02,1218.94 923.379,1420.58 675.017,1420.58C563.875,1420.58 462.09,1380.2 383.556,1313.34L544.989,1122.5Z"
          ></path>
          <path
            class="group-hover:fill-pink transition-all"
            d="M1324.98,420.583L1324.98,670.583C1214.6,670.583 1124.98,760.2 1124.98,870.583L874.983,870.583C874.983,622.221 1076.62,420.583 1324.98,420.583Z"
          ></path>
          <path
            class="group-hover:fill-yellow transition-all "
            d="M1008.84,420.583C921.088,482.377 852.184,569.178 812.535,670.583L540.994,670.583L540.994,420.583L1008.84,420.583Z"
          ></path>
        </g>
      </svg>
    </a>

    <div class="group inline-block relative z-50 transition-all ">
      <button
        class=" rounded inline-flex items-center duration-300"
        aria-label="Hamburger Menu"
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="36"
          viewBox="0 0 24 24"
          width="36"
          class="fill-primary-content transition-transform duration-300 group-active:rotate-90"
        >
          <title>Hamburger Menu Icon</title>
          <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z" />
        </svg>
      </button>
      <div
        class="group-hover:flex absolute hidden text-primary font-display uppercase flex-col right-0 lg:-right-2 w-min items-end bg-primary-content rounded max-w-fit
        *:block *:whitespace-nowrap *:text-right *:text-lg *:p-4 *:px-12 *:w-full *:rounded duration-500 *:border-b *:border-secondary-content *:shadow-lg"
      >
      <a
      class=" hover:bg-secondary-content"
      href="/">Home</a
    >
        <a
          class=" hover:bg-secondary-content"
          href="/projects">Projects</a
        >
        <a
          class=" hover:bg-secondary-content"
          href="/notes">Notes</a>

        <a
          class=" hover:bg-secondary-content"
          href="/contacts">Contacts</a
        >
      </div>
    </div>
  </nav>
</header>
