---
//credit https://github.com/MaeWolff/astro-portfolio-template/blob/main/src/components/PostCard.astro
import FormattedDate from "../components/FormattedDate.astro";

type Props = {
  title: string;
  pubDate: Date;
  description: string;
  slug: string;
  summary: string;
  categories: string;
  featured: Boolean;
  trending: Boolean;
};

const { ...props } = Astro.props;
---

<a
  class="group flex max-w-full cursor-pointer relative gap-2 rounded-md p-4 transition-all hover:-translate-y-2"
  href={props.slug}
>
  <div class="flex flex-col gap-1">
   
    <span class="block material-symbols-rounded transition-all group-hover:translate-x-1 text-pink">
      arrow_outward
      </span>
    {props.featured && <span class="block material-symbols-rounded text-yellow transition-all group-hover:scale-75">kid_star</span>}
    {props.trending && <span class="block material-symbols-rounded text-blue transition-all scale-90 group-hover:-translate-x-2">thumb_up</span>}

  </div>
  <div class="flex w-full flex-col">
    <p class="opacity-50 text-sm mb-2">
      <FormattedDate date={props.pubDate} />
      {props.categories && "~ " + props.categories}
    </p>
    <p class="uppercase font-semibold">{props.title}</p>
    <p class="truncate">
      {props.summary}
    </p>
  </div>
</a>
